@media (prefers-color-scheme: dark) {
	:root {
		--surface-color: #242f3d;
		--surface-color-variant: #39495e;
		--background-color: #17212b;
		--background-secondary-color: #242f3d;
		--background-tertiary-color: #242f3d;
		--background-inverted-color: #fff;
		--text-color: #fff;
		--text-selection-background-color: #6c727a;
		--text-inverted-color: #26325c;
		--text-secondary-color: #7f91a4;
		--text-tertiary-color: #7f91a4;
		--backdrop-color: rgb(23 33 43 / 75%);
		--title-color: #fff;
		--line-color: #2c3743;
		--danger-color: #ff6270;
		--success-color: #70cf98;
		--warning-color: #f2c94c;
		--grey-color: #7f91a4;
		--grey-color-50: rgb(127 145 164 / 50%);
		--main-color: #7177f8;
		--main-variant-color: #525aff;
		--secondary-color: rgb(127 145 164 / 50%);
		--secondary-variant-color: rgb(127 145 164 / 70%);
		--tertiary-color: #242f3d;
		--tertiary-variant-color: #39495e;
		--surface-color-50: rgb(36 47 61 / 100%);
	}
}
