:root {
	--text-color: #26325c;
	--text-selection-background-color: #b4d7ff;
	--text-inverted-color: #fff;
	--text-secondary-color: #83899f;
	--text-secondary-color-60: rgb(131 137 159 / 60%);
	--text-secondary-color-80: rgb(131 137 159 / 80%);
	--text-tertiary-color: #26325c;
	--dark-color: #26325c;
	--dark-color-10: rgb(38 50 92 / 10%);
	--dark-color-20: rgb(38 50 92 / 20%);
	--dark-color-25: rgb(38 50 92 / 25%);
	--dark-color-50: rgb(38 50 92 / 50%);
	--dark-color-75: rgb(38 50 92 / 75%);
	--dark-color-05: rgb(38 50 92 / 5%);
	--grey-color: #83899f;
	--grey-color-25: rgb(131 137 159 / 25%);
	--grey-color-50: rgb(131 137 159 / 50%);
	--grey-color-60: rgb(131 137 159 / 60%);
	--grey-color-20: rgb(131 137 159 / 20%);
	--light-color: #fff;
	--light-color-02: rgb(255 255 255 / 2%);
	--light-color-10: rgb(255 255 255 / 10%);
	--light-color-25: rgb(255 255 255 / 25%);
	--light-color-30: rgb(255 255 255 / 30%);
	--light-color-40: rgb(255 255 255 / 40%);
	--light-color-50: rgb(255 255 255 / 50%);
	--light-color-70: rgb(255 255 255 / 70%);
	--light-color-75: rgb(255 255 255 / 75%);
	--background-color: #fff;
	--background-color-dark: #131a2f;
	--background-secondary-color: #fff;
	--background-inverted-color: #131a2f;
	--background-tertiary-color: rgb(69 76 238 / 5%);
	--backdrop-color: rgb(255 255 255 / 75%);
	--line-color: #e8ebef;
	--line-color-25: rgb(232 235 239 / 25%);
	--main-variant-color: #2d35ee;
	--main-color: #454cee;
	--main-color-05: rgb(69 76 238 / 5%);
	--main-color-10: rgb(69 76 238 / 10%);
	--main-color-20: rgb(69 76 238 / 20%);
	--main-color-30: rgb(69 76 238 / 30%);
	--main-color-50: rgb(69 76 238 / 50%);
	--danger-color: #ea4335;
	--danger-color-10: rgb(234 67 53 / 10%);
	--danger-color-20: rgb(234 67 53 / 20%);
	--danger-color-50: rgb(234 67 53 / 50%);
	--danger-color-70: rgb(234 67 53 / 70%);
	--danger-color-80: rgb(234 67 53 / 80%);
	--success-color: #1cc14d;
	--success-color-10: rgb(28 193 77 / 10%);
	--warning-color: #f2c94c;
	--warning-color-10: rgb(242 201 76 / 10%);
	--warning-color-25: rgb(242 201 76 / 25%);
	--title-color: #26325c;
	--surface-color: #f8f9fa;
	--surface-color-variant: #fff;
	--tertiary-color: #f8f9fa;
	--tertiary-variant-color: rgb(38 50 92 / 10%);
	--orange-color: #eb501e;
	--box-shadow: 0px 4px 12px rgb(5 12 38 / 12%);
	--border-radius-giant: 12px;
	--border-radius-large: 12px;
	--border-radius-medium: 8px;
	--border-radius-small: 4px;
	--transition-duration: 0.2s;
	--transition-function: ease-in-out;
	--default-table-row-grid: minmax(0, 6fr) minmax(0, 3fr) minmax(0, 6fr) minmax(0, 2fr);
	--background-dark: #26325c;
	--text-inverse: rgb(255 255 255 / 100%);
	--background-plate: #f8f9fa;
	--blue-color: #c7c9fa;
	--terminal-background: #242f3d;
}
