.input {
	width: 100%;

	&__wrapper {
		position: relative;
		display: flex;
		align-items: center;
		border: 1px solid var(--line-color);
		border-radius: var(--border-radius-medium);
		background-color: var(--background-color);
		cursor: pointer;
		outline: none;
		transition: all var(--transition-duration) var(--transition-function);

		--state-color: var(--main-color);
	}

	&__field {
		width: 100%;
		box-sizing: border-box;
		padding: 9px 16px;
		border: none;
		border-radius: var(--border-radius-medium);
		background: none;
		color: var(--text-color);
		font: var(--text-semibold-medium);
		outline: none;
		resize: none;
	}

	&--disabled {
	}

	&--error {
	}

	&__errorMessage {
		display: inline-flex;
		align-items: center;
		margin-top: var(--error-margin-top);
		color: var(--error-200);
		font-size: var(--font-size-s);
		gap: 4px;
		line-height: 1;
	}
}
