@import "src/style/mixin";

.button {
	display: inline-flex;
	box-sizing: border-box;
	flex-shrink: 0;
	align-items: center;
	justify-content: center;
	border: none;
	border-radius: var(--border-radius-large);
	background: none;
	color: var(--text-color);
	cursor: pointer;
	font: var(--text-semibold-medium);
	transition: all var(--transition-duration) var(--transition-function);

	&:disabled {
		cursor: inherit;
		pointer-events: none;
	}
}

.primary {
	background-color: var(--main-color);
	color: var(--light-color);

	@include hover {
		background-color: var(--main-variant-color);
	}
}

.secondary {
	background-color: var(--main-color-10);
	color: var(--main-color);

	@include hover {
		background-color: var(--main-color-20);
	}
}

.large {
	min-width: 44px;
	height: 44px;
}

.medium {
	min-width: 40px;
	height: 40px;
}

.small {
	min-width: 22px;
	height: 22px;
	border-radius: var(--border-radius-small);
	font: var(--text-regular-small);
}
