@import "zero";
@import "variables";
@import "mixin";
@import "themes/normal";
@import "themes/dark";
@import "layout/index";

@media (prefers-color-scheme: dark) {
	html {
		//color-scheme: dark;
	}
}

html {
	background-color: var(--background-color-primary);
	color: var(--text-color-achent);
	font-family: Roboto, sans-serif;
}

body {
	background-color: var(--background-color);
}
