.h1--WqT1f {
	color: var(--title-color);
	font: var(--title);
}

.h1_smallLineHeight--uVhZY {
	line-height: 28px;
}

.h2--bmFrB {
	color: var(--title-color);
	font: var(--title-small);
}

.h3--BY5U1 {
	color: var(--title-color);
	font: var(--text-semibold-large);
}
