.loginForm {
	display: flex;
	width: 500px;
	flex-direction: column;
	padding: var(--padding-large2);
	border-radius: var(--border-radius-medium);
	background: var(--background-color-achent);

	@media (width <= 1200px) {
		padding: var(--padding-large);
	}

	@media (width <= 640px) {
		width: 100%;
		padding: var(--padding-medium);
	}

	&__form {
		display: flex;
		flex-direction: column;
		gap: var(--padding-medium);
		padding-block: var(--padding-medium);
	}

	&__title {
		padding: var(--padding-small) 0;
		text-align: center;
	}

	&__logo {
		margin: 0 auto;
	}

	&__text {
		padding: var(--padding-small) 0;
		text-align: center;
	}

	&__button {
		margin-top: var(--padding-medium);
	}
}
